@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightgray">
    <h1 style="text-align:center">Aplikacija za evidenciju radnih sati</h1>
</div>

<div class="row" style="text-align:center">
    <div class="d-block" style=" text-align: center;
        margin: 50px auto; ">
        <h2>Pregled sati</h2>
        <p>Upis odrađenih sati djelatnika u firmi</p>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Satnice","Satnice")'">Otvori</button>
    </div>
</div>

<div class="row" style="text-align:center">
    <div class="d-block" style=" text-align: center;
        margin: 50px auto; ">
        <h2>Profil djelatnika</h2>
        <p>Ovdje djelatnik može promijeniti lozinku</p>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Dashboard","Account")'">Otvori</button>
    </div>
</div>

<div class="row" style="text-align:center">
    <div class="d-block" style=" text-align: center;
        margin: 50px auto; ">
        <h2>Projekti</h2>
        <p>Pogledajte sve projekte</p>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index","Projects")'">Otvori</button>
    </div>
</div>